@font-face {
  font-family: "Lato";
  src: local("../fonts/lato/Lato Regular"), local("../fonts/lato/Lato-Regular"), url("../fonts/lato/latoregular.woff2") format("woff2"), url("../fonts/lato/latoregular.woff") format("woff"), url("../fonts/lato/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("../fonts/lato/Lato Semibold"), local("../fonts/lato/Lato-Semibold"), url("../fonts/lato/latosemibold.woff2") format("woff2"), url("../fonts/lato/latosemibold.woff") format("woff"), url("../fonts/lato/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("../fonts/lato/Lato Bold"), local("../fonts/lato/Lato-Bold"), url("../fonts/lato/latobold.woff2") format("woff2"), url("../fonts/lato/latobold.woff") format("woff"), url("../fonts/lato/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
}

a {
  color: #000;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
  }
}
.header {
  z-index: 5;
  position: fixed;
  right: 0;
  left: 0;
  transition: all 0.3s ease;
}
.header.has-background {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.9) 0%, rgba(238, 61, 27, 0.9) 100%);
}
.header .container {
  min-height: 50px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
}
.header__logo {
  width: 172px;
  height: 29px;
  fill: #fff;
}
.header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  width: 80px;
  min-height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  background-color: transparent;
  margin-right: 45px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}
.header__login:hover {
  color: #ED4C5C;
  background-color: #fff;
}
.header__menu-button .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  fill: #fff;
  cursor: pointer;
}
.header .header__navigation-container .close-button {
  display: none;
}
.header .header__navigation-container .navigation-menu {
  display: none;
}
.header .header__navigation-container .navigation-menu__link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.header .header__navigation-container .navigation-menu__link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  left: 50%;
  bottom: -5px;
  transition: all 0.3s ease;
}
.header .header__navigation-container .navigation-menu li:hover .navigation-menu__link::after {
  width: 100%;
  left: 0;
}
.header .header__navigation-container--active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-color: #ED4C5C;
}
.header .header__navigation-container--active .close-button {
  display: unset;
}
.header .header__navigation-container--active .menu-button {
  display: none;
}
.header .header__navigation-container--active .navigation-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header__navigation-container--active .navigation-menu li:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  .header .container {
    min-height: 100px;
    justify-content: space-between;
  }
  .header__login {
    max-width: 100px;
    width: 100%;
    min-height: 40px;
    font-size: 14px;
    margin-right: 0;
  }
  .header__menu-button {
    display: none;
  }
  .header .header__navigation-container .navigation-menu {
    display: flex;
  }
  .header .header__navigation-container .navigation-menu li:not(:last-child) {
    margin-right: 21px;
  }
  .header .header__navigation-container .navigation-menu .active {
    font-weight: 700;
  }
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
  padding: 0;
  max-width: 100%;
  height: 100vh;
  background-image: url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}
.hero .container::before {
  z-index: -1;
  position: absolute;
  content: " ";
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
.hero__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.hero__description {
  max-width: 488px;
  padding: 0 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.hero__sign-up {
  padding: 12px 40px 11px;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ED4C5C;
  background-color: #fff;
  border-radius: 6px;
  border: solid 2px #fff;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}
.hero__sign-up:hover {
  color: #fff;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .hero .container {
    margin-bottom: 94px;
  }
  .hero__title {
    font-size: 72px;
    margin-bottom: 40px;
  }
  .hero__description {
    padding: 0;
    font-size: 24px;
    margin-bottom: 40px;
  }
  .hero__sign-up {
    padding: 17px 53px 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ED4C5C;
    background-color: #fff;
  }
}
.video .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.video__description {
  max-width: 445px;
}
.video__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 24px;
}
.video__description-content {
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}
.video a {
  display: block;
  font-size: 14px;
  line-height: 140%;
  transition-property: all;
  transition-duration: 0.3s;
  text-decoration: none;
  text-align: center;
  margin-bottom: 24px;
}
.video a:hover {
  color: #ED4C5C;
  text-decoration: underline;
}
.video__preview {
  display: flex;
  justify-content: center;
}
.video__preview img {
  max-width: 445px;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .video .container {
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 95px;
    justify-content: space-between;
  }
  .video__title {
    margin-top: 46px;
    font-size: 36px;
    line-height: 43px;
    text-align: start;
  }
  .video__description-content {
    text-align: start;
  }
  .video a {
    text-align: start;
  }
  .video__preview {
    margin-right: 95px;
    overflow: hidden;
    border-radius: 15px;
  }
  .video__preview img {
    transition: all 0.3s;
  }
  .video__preview img:hover {
    transform: scale(1.1);
  }
}
.features {
  background-color: #FAFAFA;
  padding-top: 50px;
  padding-bottom: 120px;
}
.features__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 63px;
}
.features .feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 105px;
  transition-property: all;
  transition-duration: 0.3s;
  cursor: pointer;
}
.features .feature-card:not(:last-child) {
  margin-bottom: 60px;
}
.features .feature-card:hover .feature-card__link {
  color: #ED4C5C;
  text-decoration: underline;
}
.features .feature-card__image {
  max-width: 350px;
  width: 100%;
  object-fit: contain;
  z-index: 1;
}
.features .feature-card__white-part {
  position: absolute;
  top: 44%;
  padding: 33px 20px 25px;
  max-width: 293px;
  min-height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 2;
  transition-property: all;
  transition-duration: 0.3s;
}
.features .feature-card__title {
  max-width: 226px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.features .feature-card__content {
  max-width: 224px;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}
.features .feature-card__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  transition-property: all;
  transition-duration: 0.3s;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .features {
    padding-top: 63px;
    padding-bottom: 156px;
  }
  .features__title {
    font-size: 36px;
    line-height: 43px;
  }
  .features__posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .features .feature-card:hover {
    padding-bottom: 0px;
  }
  .features .feature-card:hover .feature-card__white-part {
    top: 8%;
  }
  .features .feature-card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.technology .container {
  padding-top: 30px;
}
.technology__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 63px;
}
.technology__posts {
  margin-bottom: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.technology .technology-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 255px;
  width: 100%;
  min-height: 226px;
}
.technology .technology-card:not(:last-child) {
  margin-bottom: 30px;
}
.technology .technology-card__number {
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  color: rgba(16, 16, 16, 0.08);
  margin-bottom: 19px;
}
.technology .technology-card__icon {
  position: absolute;
  fill: #ED4C5C;
}
.technology .technology-card__icon:nth-child(1) {
  width: 80px;
  height: 80px;
  margin-top: -61px;
}
.technology .technology-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.technology .technology-card__description {
  max-width: 196px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.technology .technology-card:nth-child(1) svg {
  width: 80px;
  height: 80px;
  top: 55px;
}
.technology .technology-card:nth-child(2) svg {
  width: 66px;
  height: 66px;
  top: 65px;
}
.technology .technology-card:nth-child(3) svg {
  width: 70px;
  height: 70px;
  top: 59px;
}
.technology .technology-card:nth-child(4) svg {
  width: 47px;
  height: 54px;
  top: 68px;
}

@media screen and (min-width: 1024px) {
  .technology__title {
    font-size: 36px;
    line-height: 43px;
  }
  .technology__posts {
    flex-direction: row;
    justify-content: space-between;
  }
  .technology .technology-card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.app-download {
  background-color: #ED4C5C;
}
.app-download .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 65px;
  color: #fff;
}
.app-download__content {
  max-width: 445px;
  margin-bottom: 30px;
}
.app-download__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 22px;
}
.app-download__description {
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 40px;
  text-align: center;
}
.app-download__links {
  max-width: 131px;
  width: 100%;
  margin: 0 auto;
}
.app-download__links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-download__links .icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}
.app-download__links .icon:hover {
  fill: #101010;
}
.app-download__links .icon-windows {
  width: 24px;
  height: 24px;
}
.app-download img {
  max-width: 445px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (min-width: 1024px) {
  .app-download .container {
    padding-top: 94px;
    padding-bottom: 95px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .app-download__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 28px;
    margin-bottom: 0;
  }
  .app-download__title {
    font-size: 36px;
    line-height: 43px;
    text-align: start;
  }
  .app-download__description {
    text-align: start;
  }
  .app-download__links {
    margin: 0;
    margin-bottom: 16px;
  }
  .app-download img {
    margin-right: 95px;
  }
}
.contact-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 67px;
  margin-bottom: 68px;
}
.contact-us input {
  max-width: 540px;
  width: 100%;
  padding: 21px 31px 20px;
  border: 1px solid #333333;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  transition-property: all;
  transition-duration: 0.3s;
}
.contact-us input::placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact-us input:focus-visible {
  outline: 2px solid #ED4C5C;
  border-color: #ED4C5C;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.contact-us__left-side {
  max-width: 445px;
}
.contact-us__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 53px;
}
.contact-us__description {
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 53px;
  text-align: center;
}
.contact-us__right-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us__right-field input[type=tel] {
  margin-bottom: 24px;
}
.contact-us__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 27px;
}
.contact-us__names-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us__names-wrapper input {
  margin-bottom: 24px;
}
.contact-us button {
  font-size: 14px;
  line-height: 17px;
  max-width: 160px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ED4C5C;
  padding: 17px 33px 16px;
  border: 1.5px solid #ED4C5C;
  border-radius: 6px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}
.contact-us button:hover {
  color: #ED4C5C;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1024px) {
  .contact-us .container {
    padding-top: 117px;
    margin-bottom: 78px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .contact-us__left-side {
    margin-left: 11px;
  }
  .contact-us__title {
    font-size: 36px;
    line-height: 43px;
    text-align: start;
  }
  .contact-us__description {
    margin-bottom: 0;
    text-align: start;
  }
  .contact-us__right-field {
    align-items: stretch;
    max-width: 540px;
    width: 100%;
  }
  .contact-us__names-wrapper {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .contact-us__names-wrapper input {
    margin-bottom: 0;
    max-width: 255px;
  }
  .contact-us__names-wrapper input:first-child {
    margin-right: 30px;
  }
}
.footer {
  background-color: #FAFAFA;
}
.footer .container {
  padding-top: 65px;
  padding-bottom: 66px;
}
.footer .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 66px;
}
.footer__child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__child:not(:last-child) {
  margin-bottom: 45px;
}
.footer__child h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 33px;
}
.footer__child a {
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  text-align: center;
  transition-property: all;
  transition-duration: 0.3s;
}
.footer__child a:hover {
  color: #ED4C5C;
  text-decoration: underline;
}
.footer__adress {
  max-width: 174px;
}
.footer__services ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__services a {
  text-transform: capitalize;
}
.footer__services li:not(:last-child) {
  margin-bottom: 5px;
}
.footer__get-in-touch .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.footer__get-in-touch .contacts li:not(:last-child) {
  margin-bottom: 11px;
}
.footer__get-in-touch .smm {
  display: flex;
  flex-direction: row;
}
.footer__get-in-touch .smm .icon {
  width: 14px;
  height: 14px;
  transition-property: fill;
  transition-duration: 0.3s;
}
.footer__get-in-touch .smm .icon:hover {
  fill: #ED4C5C;
}
.footer__get-in-touch .smm li:not(:last-child) {
  margin-right: 12px;
}
.footer__copyright {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .footer .container {
    padding-top: 85px;
    padding-bottom: 86px;
  }
  .footer .content-wrapper {
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 86px;
  }
  .footer__child {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .footer__child:not(:last-child) {
    margin-bottom: 0;
  }
  .footer__child a {
    text-align: start;
  }
  .footer__adress {
    margin-right: 111px;
  }
  .footer__services {
    margin-right: 180px;
  }
  .footer__services ul {
    align-items: stretch;
  }
  .footer__get-in-touch {
    margin-right: 180px;
  }
  .footer__get-in-touch .contacts {
    align-items: stretch;
  }
  .footer__support-payments img {
    margin-left: 6px;
  }
  .footer__copyright {
    text-align: start;
  }
}

/*# sourceMappingURL=style.css.map */
