$color-black: #000;
$color-dark: #101010;
$color-light-gray: #FAFAFA;
$color-white: #fff;
$color-primary: #ED4C5C;
$bp-desktop: 1024px;

@font-face {
    font-family: 'Lato';
    src: local('../fonts/lato/Lato Regular'), local('../fonts/lato/Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('../fonts/lato/Lato Semibold'), local('../fonts/lato/Lato-Semibold'), url('../fonts/lato/latosemibold.woff2') format('woff2'), url('../fonts/lato/latosemibold.woff') format('woff'), url('../fonts/lato/latosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('../fonts/lato/Lato Bold'), local('../fonts/lato/Lato-Bold'), url('../fonts/lato/latobold.woff2') format('woff2'), url('../fonts/lato/latobold.woff') format('woff'), url('../fonts/lato/latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    color: $color-black;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
}
a {
    color: $color-black;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

@media screen and (min-width:$bp-desktop) {
    .container {
        padding: 0;
    }
    
}

.header {
    z-index: 5;
    position: fixed;
    right: 0;
    left: 0;
    transition: all 0.3s ease;
    &.has-background {
        background: linear-gradient(90deg, rgba(213, 32, 71, 0.9) 0%, rgba(238, 61, 27, 0.9) 100%);
    }
    .container {
        min-height: 50px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: transparent;
    }
    &__logo {
        width: 172px;
        height: 29px;
        fill: $color-white;
    }
    &__login {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        width: 80px;
        min-height: 30px;
        font-size: 12px;
        text-transform: uppercase;
        border: 1px solid $color-white;
        border-radius: 6px;
        color: $color-white;
        background-color: transparent;
        margin-right: 45px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s;
        &:hover {
            color: $color-primary;
            background-color: $color-white;
        }
    }
    &__menu-button {
        .icon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            fill: $color-white;
            cursor: pointer;
        }
    }
    .header__navigation-container {
        .close-button {
            display: none;
        }
        .navigation-menu {
            display: none;
            &__link {
                position: relative;
                display: inline-block;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                text-decoration: none;
                color: $color-white;
                &::after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 2px;
                    background-color: $color-white;
                    left: 50%;
                    bottom: -5px;
                    transition: all 0.3s ease;
                }
            }
            li:hover .navigation-menu__link::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .header__navigation-container--active {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        background-color: $color-primary;
        .close-button {
            display: unset;
        }
        .menu-button {
            display: none;
        }
        .navigation-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            li:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (min-width:$bp-desktop) {
    .header {
        
        .container {
            min-height: 100px;
            justify-content: space-between;
        }
        &__login {
            max-width: 100px;
            width: 100%;
            min-height: 40px;
            font-size: 14px;
            margin-right: 0;

        }
        &__menu-button {
            display: none;
        }
        .header__navigation-container {
            .navigation-menu {
                display: flex;
                li:not(:last-child) {
                    margin-right: 21px;
                }
                .active {
                    font-weight: 700;
                }
            }
        }
    }
}

.hero {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        position: relative;
        padding: 0;
        max-width: 100%;
        height: 100vh;
        background-image: url(../img/hero.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 60px;
        &::before {
            z-index: -1;
            position: absolute;
            content: ' ';
            width: 100%;
            height: 100vh;
            background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
        }
    }
    &__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 86px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 20px;
    }
    &__description {
        max-width: 488px;
        padding: 0 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: $color-white;
        margin-bottom: 30px;
    }
    &__sign-up {
        padding: 12px 40px 11px;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        color: $color-primary;
        background-color: $color-white;
        border-radius: 6px;
        border: solid 2px $color-white;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s;
        &:hover {
            color: $color-white;
            background-color: transparent;
        }
    }
}

@media screen and (min-width:$bp-desktop) {
    .hero {
        .container {
            margin-bottom: 94px;
        }
        &__title {
            font-size: 72px;
            margin-bottom: 40px;
        }
        &__description {
            padding: 0;
            font-size: 24px;
            margin-bottom: 40px;
        }
        &__sign-up {
            padding: 17px 53px 16px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: $color-primary;
            background-color: $color-white;
        }
    }
}

.video {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
    &__description {
        max-width: 445px;
    }
    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 24px;
    }
    &__description-content {
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        margin-bottom: 20px;
    }
    a {
        display: block;
        font-size: 14px;
        line-height: 140%;
        transition-property: all;
        transition-duration: 0.3s;
        text-decoration: none;
        text-align: center;
        margin-bottom: 24px;
        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }
    &__preview {
        display: flex;
        justify-content: center;
        img {
            max-width: 445px;
            width: 100%;
            object-fit: contain;
            cursor: pointer;
            
        }
    }
}

@media screen and (min-width:$bp-desktop) {
    .video {
        .container {
            flex-direction: row;
            align-items: stretch;
            margin-bottom: 95px;
            justify-content: space-between;
        }
        &__title {
            margin-top: 46px;
            font-size: 36px;
            line-height: 43px;
            text-align: start;
        }
        &__description-content {
            text-align: start;
        }
        a {
            text-align: start;
        }
        &__preview {
            margin-right: 95px;
            overflow: hidden;
            border-radius: 15px;
            img {
                transition-duration: 0.3s;
                transition-property: all;
                &:hover {
                    scale: 1.1;
                }
            }
        }
    }
}

.features {
    background-color: $color-light-gray;
    padding-top: 30px;
    padding-bottom: 100px;
    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 63px;
    }
    .feature-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 105px;
        transition-property: all;
        transition-duration: 0.3s;
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &:hover .feature-card__link {
            color: $color-primary;
            text-decoration: underline;
        }
        &__image {
            max-width: 350px;
            width: 100%;
            object-fit: contain;
            z-index: 1;
            
        }
        &__white-part {
            position: absolute;
            top: 44%;
            padding: 33px 20px 25px;
            max-width: 293px;
            min-height: 198px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: $color-white;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            z-index: 2;
            transition-property: all;
            transition-duration: 0.3s;
        }
        &__title {
            max-width: 226px;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
        }
        &__content {
            max-width: 224px;
            font-size: 12px;
            line-height: 150%;
            text-align: center;
        }
        &__link {
            font-weight: 700;
            font-size: 12px;
            line-height: 150%;
            transition-property: all;
            transition-duration: 0.3s;
            text-decoration: none;
        }
    }
}

@media screen and (min-width:$bp-desktop) {
    .features {
        padding-top: 63px;
        padding-bottom: 156px;
        &__title {
            font-size: 36px;
            line-height: 43px;
    
        }
        &__posts {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .feature-card {
            &:hover {
                padding-bottom: 0px;
            }
            &:hover .feature-card__white-part {
                top: 8%;
            }
            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 30px;
                
            }
        }
    }
}

.technology {
    .container {
        padding-top: 30px;
    }
    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 63px;
    }
    &__posts {
        margin-bottom: 103px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .technology-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 255px;
        width: 100%;
        min-height: 226px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &__number {
            font-weight: 700;
            font-size: 100px;
            line-height: 120px;
            color: rgba(16, 16, 16, 0.08);
            margin-bottom: 19px;
        }
        &__icon {
            position: absolute;
            fill: $color-primary;
            &:nth-child(1) {
                width: 80px;
                height: 80px;
                margin-top: -61px;
            }
        }
        &__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 10px;
        }
        &__description {
            max-width: 196px;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
        }
    }
    .technology-card:nth-child(1) svg {
        width: 80px;
        height: 80px;
        top: 55px;
    }
    .technology-card:nth-child(2) svg {
        width: 66px;
        height: 66px;
        top: 65px;

    }
    .technology-card:nth-child(3) svg {
        width: 70px;
        height: 70px;
        top: 59px;

    }
    .technology-card:nth-child(4) svg {
        width: 47px;
        height: 54px;
        top: 68px;
    }
}

@media screen and (min-width:$bp-desktop) {
    .technology {
        &__title {
            font-size: 36px;
            line-height: 43px;
        }
        &__posts {
            flex-direction: row;
            justify-content: space-between;
        }
        .technology-card {
            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 30px;
            }
        }
    }
}

.app-download {
    background-color: $color-primary;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 94px;
        padding-bottom: 95px;
        color: $color-white;
    }
    &__content {
        max-width: 445px;
        margin-bottom: 30px;
    }
    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 22px;
    }
    &__description {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 40px;
        text-align: center;
    }
    &__links {
        max-width: 131px;
        width: 100%;
        margin: 0 auto;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .icon {
            width: 32px;
            height: 32px;
            fill: $color-white;
            cursor: pointer;
        }
        .icon-windows {
            width: 24px;
            height: 24px;
        }
    }
    img {
        max-width: 445px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}

@media screen and (min-width:$bp-desktop) {
    .app-download {
        .container {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
        &__content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-top: 28px;
            margin-bottom: 0;
        }
        &__title {
            font-size: 36px;
            line-height: 43px;
            text-align: start;
        }
        &__description {
            text-align: start;
        }
        &__links {
            margin: 0;
            margin-bottom: 16px;
        }
        img {
            margin-right: 95px;
        }
    }
}

.contact-us {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 117px;
        margin-bottom: 78px;
    }
    input {
        max-width: 540px;
        width: 100%;
        padding: 21px 31px 20px;
        border: 1px solid #333333;
        border-radius: 6px;
        font-size: 16px;
        line-height: 19px;
        transition-property: all;
        transition-duration: 0.3s;
        &::placeholder {
            color: rgba(19, 39, 67, 0.5);
        }
        &:focus-visible {
            outline: 2px solid $color-primary;
            border-color: $color-primary;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        }
    }

    &__left-side {
        max-width: 445px;
    }
    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 53px;
    }
    &__description {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 53px;
        text-align: center;
    }
    &__right-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        input[type=tel] {
            margin-bottom: 24px;
        }
    }
    &__input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 27px;
    }
    &__names-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            margin-bottom: 24px;
        }
    }
    button {
        font-size: 14px;
        line-height: 17px;
        max-width: 160px;
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-primary;
        padding: 17px 34px 16px;
        border: 1.5px solid $color-primary;
        border-radius: 6px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s;
        &:hover {
            color: $color-primary;
            background-color: $color-white;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        }
    }
}

@media screen and (min-width:$bp-desktop) {
    .contact-us  {
        .container {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }
        &__left-side {
            margin-left: 11px;
        }
        &__title {
            font-size: 36px;
            line-height: 43px;
            text-align: start;
        }
        &__description {
            margin-bottom: 0;
            text-align: start;
        }
        &__right-field {
            align-items: stretch;
            max-width: 540px;
            width: 100%;
        }
        &__names-wrapper {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            margin-bottom: 24px;
            input {
                margin-bottom: 0;
                max-width: 255px;
                &:first-child {
                    margin-right: 30px;
                }
            }
        }
    }
}